.design
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    // background-color:lightgrey rgba(var(--cui-light-rgb), var(--cui-bg-opacity)) !important;
}