

    <div class="design">
        <div class="card text-center" style="width: 300px; box-shadow: 0px 0px 10px  gray; ">
            <div class="card-header h4 text-white bg-primary" style="height: 10vh; padding-top: 15px;">Change  Password</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address for Verification
                </p>
                <form [formGroup]="formdata" (ngSubmit)="formdata">
               
                <div class="form-outline">
                    <label for="typeEmail">Enter Email</label>
                    <input   class="form-control my-1 " formcontrolName="email" #email />
                    
                </div>
               
                <a  class="btn btn-primary w-100" (click)="signInData(email.value)">Verify Email</a>
                <br>
                <br>

                <div class="form-outline">
                    <label class="form-label" for="typeEmail">Password</label>
                    <input   class="form-control my-1" formcontrolName="password" [disabled]="isDisabled"  #password/>
                    
                </div>
                <a  class="btn btn-primary w-100"  (click)="  updatePassword(password.value)"
                >Change Password</a>


            </form>
                <div class="d-flex justify-content-between mt-4">
                    <a style="color: blue; text-decoration: underline;" routerLink="">Sign-In</a>
                    <a style="color: blue; text-decoration: underline;" routerLink="">Register</a>
                   
                </div>
            </div>
        </div>
        
    
    </div>




