

<div class="fade-in">
    <div class="card mb-4">
      <div class="card-header">
        About Us
      </div>
      <div class="card-body">

        <div class="row">
            <div class="col-6 text-justify">
              <p class="justified">Established in the year 2000, we have led the way in designing, developing, and maintaining diverse IT Solutions tailored for product management and e-commerce businesses of all sizes. Since 2001, we have been the trusted go-to solution providers for businesses in Europe, expanding our reach to the US market since 2004.</p>
                 <p class="justified">

Today, in addition to crafting custom web and mobile applications for product management and e-commerce, Ecotech guides clients worldwide in creating customized software systems based on SAP ERP, RPA, AI, and IoT technologies to streamline operations, enhance customer experiences, and drive growth in the digital marketplace.
                 </p>
            </div>
            <div class="col-6 text-justify">
                <p class="justified">
                    Since the beginning, we have worked at the intersection of IT and core industries. This has given us the prerequisite expertise and empathy that is critical to develop unique business solutions for unique business situations and customer expectations. We invite you to explore our offerings and capabilities. , this on alse convert
                </p>
            </div>

           
        </div>

      </div></div></div> 

      <div class="fade-in" >
        <div class="card mb-4">
            <div class="card-header" >
                Testimonials
            </div>
            <div class="card-body" >
                <div class="row text-center" >
                    <div class="col-md-4 mb-5 mb-md-0" >
                        <div class="card testimonial-card">
                            <div class="card-up" style="background-color: #9d789b;" ></div>
                            <div class="avatar mx-auto bg-white">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="rounded-circle img-fluid" />
                            </div>
                            <div class="card-body">
                                <h4 class="mb-4">Maria Smantha</h4>
                                <hr />
                                <p class="dark-grey-text mt-4">
                                    <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet eos adipisci, consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="card testimonial-card">
                            <div class="card-up" style="background-color: #7a81a8;"></div>
                            <div class="avatar mx-auto bg-white">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" class="rounded-circle img-fluid" />
                            </div>
                            <div class="card-body">
                                <h4 class="mb-4">Lisa Cudrow</h4>
                                <hr />
                                <p class="dark-grey-text mt-4">
                                    <i class="fas fa-quote-left pe-2"></i>Neque cupiditate assumenda in maiores repudi mollitia architecto.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="card testimonial-card">
                            <div class="card-up" style="background-color: #6d5b98;"></div>
                            <div class="avatar mx-auto bg-white">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="rounded-circle img-fluid" />
                            </div>
                            <div class="card-body">
                                <h4 class="mb-4">John Smith</h4>
                                <hr />
                                <p class="dark-grey-text mt-4">
                                    <i class="fas fa-quote-left pe-2"></i>Delectus impedit saepe officiis ab aliquam repellat rem unde ducimus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



      <!-- <section>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
              numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
              quisquam eum porro a pariatur veniam.
            </p>
          </div>
        </div>
      
       
      </section> -->