<div class="fade-in">
    <div class="card mb-4">
      <div class="card-header">
        Contact Us
      </div>
      <div class="card-body">

        <div class="row">
            <div class="col-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10266.859397205417!2d73.89973718458019!3d18.477960781114838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea65fd81168f%3A0xb2efbf3bd1c34d76!2sEcotech%20IT%20Solutions%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1709460290000!5m2!1sen!2sin" width="100%
                " height="450" style="border:1px black solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-5">
                <h2>INDIA</h2>
                <p>Ecotech IT Solutions Pvt. Ltd.</p>
                <p>Sunshree “Woods”, NIBM Road,</p>
                <p>Pune 411 048 INDIA.</p>
                <p>Pune 411 048 INDIA.</p>
                <p> Email: india&#64;ecotechservices.com</p>
                <br>

                <h2>USA</h2>
                <p>WEISS North America, Inc</p>
                <p>3860 Ben Hur Ave.</p>
                <p>Willoughby, Ohio 44094, USA</p>
                <p>Tel. +1 440 269 8031</p>
                <p>Email: info&#64;weissna.com</p>


                


         

        
        
        </div>


      </div>
    </div>
</div>
